In [8]:
import pandas as pd
data_2023_Mar= pd.read_csv("JC-202303-citibike-tripdata.csv")
data_2023_Apr= pd.read_csv("JC-202304-citibike-tripdata.csv")
data_2023_May= pd.read_csv("JC-202205-citibike-tripdata.csv")
data_2022_Mar= pd.read_csv("JC-202203-citibike-tripdata.csv")
data_2022_Apr= pd.read_csv("JC-202204-citibike-tripdata.csv")
data_2022_May= pd.read_csv("JC-202205-citibike-tripdata.csv")
data_2023_May.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FC9EB68D6501F079,electric_bike,2022-05-15 14:02:06,2022-05-15 14:05:44,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hudson St & 4 St,HB607,40.735938,-74.030305,40.740973,-74.028603,member
1,932A2D5E45ACED5B,electric_bike,2022-05-13 15:30:14,2022-05-13 15:33:03,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hudson St & 4 St,HB607,40.735938,-74.030305,40.740973,-74.028603,casual
2,8C0CD371C7A5795C,electric_bike,2022-05-31 20:41:39,2022-05-31 22:04:47,Hoboken Terminal - Hudson St & Hudson Pl,HB101,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.735938,-74.030305,40.736982,-74.027781,casual
3,25BC1B079FBC71B9,classic_bike,2022-05-29 17:24:23,2022-05-30 18:24:16,Hoboken Terminal - Hudson St & Hudson Pl,HB101,NaN,NaN,40.735938,-74.030305,NaN,NaN,member
4,0B0F776B55C85AB8,classic_bike,2022-05-26 16:49:12,2022-05-26 16:57:01,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hoboken Ave at Monmouth St,JC105,40.735938,-74.030305,40.735208,-74.046964,member

In [9]:
print(data_2023_Mar.shape,
data_2023_Apr.shape,
data_2023_May.shape,
data_2022_Mar.shape,
data_2022_Apr.shape,
data_2022_May.shape)

(63072, 13) (80688, 13) (80482, 13) (51671, 13) (62528, 13) (80482, 13)

In [10]:
combined_data= pd.concat([data_2022_Mar, data_2022_Apr, data_2022_May, data_2023_Mar, data_2023_Apr, data_2023_May])
combined_data.shape

(418923, 13)

In [12]:
combined_data.to_csv("citibike_Spring(2022-2023).csv", index= False)

In [13]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418923 entries, 0 to 80481
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             418923 non-null  object
 1   rideable_type       418923 non-null  object
 2   started_at          418923 non-null  object
 3   ended_at            418923 non-null  object
 4   start_station_name  418920 non-null  object
 5   start_station_id    418920 non-null  object
 6   end_station_name    417920 non-null  object
 7   end_station_id      417920 non-null  object
 8   start_lat           418923 non-null  float64
 9   start_lng           418923 non-null  float64
 10  end_lat             418234 non-null  float64
 11  end_lng             418234 non-null  float64
 12  member_casual       418923 non-null  object
dtypes: float64(4), object(9)
memory usage: 44.7+ MB